<div class="container">
    <h1>Update Academy</h1>


    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="isbn">isbn:</label>
            <input
				readonly
                formControlName="isbn"
                id="isbn"
                type="text"
                [(ngModel)]="book.isbn"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="body">Title</label>
            <input
                formControlName="title"
                id="title"
                type="text"
                [(ngModel)]="book.title"
                class="form-control">
        </div>

        <div class="form-group">
            <label for="genre">Genre</label>
            <input
                formControlName="genre"
                id="genre"
                type="text"
                [(ngModel)]="book.genre"
                class="form-control">
        </div>

		<div>
            <label for="published"></label>
            <select [(ngModel)]="book.published" id="published" class="custom-select" formControlName="published">
              <option value="" selected>Select status</option>
              <option value="true">Published</option>
              <option value="false">Not Published</option>
            </select>
          </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
